<h1>Admin</h1>
<p>This page can only be accessed by administrators.</p>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user._id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td><button class="btn btn-success" type="button" (click)="editUser(user._id)">Edit</button>
        <button class="btn btn-danger" type="button" (click)="deleteUser(user._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>