<h2>Add Assignment</h2>
<form class="form" [formGroup]="AddAssignmentForm"  (ngSubmit)="create()">
  <div class="form-group">
    <label for="ctitle-input">Assignment Title:</label>
    <input id="ctitle-input" name="title" class="form-control" formControlName="title" placeholder="title"/>
  
    <label for="cdesc-input">Assignment description:</label>
    <textarea id="cdesc-input" name="description" class="form-control" formControlName="description" placeholder="course description"></textarea>

    <label for="cdueDate-input">Due Date:</label>
    <input id="cdueDate-input" name="dueDate" class="form-control" formControlName="dueDate" placeholder="dueDate" type="date"/>

    <label for="cpointValue-input">Point Value:</label>
    <input id="cpointValue-input" name="pointValue" class="form-control" formControlName="pointValue" placeholder="pointValue" type="number"/>

  </div>
  <button id="create-button" type="submit" class="btn btn-primary">Create</button>
</form>