<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
  <div class="container">
    <a class="navbar-brand" href="#"><img class="brand-img" src="../assets/Title2n.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse d-sm-inline-flex ">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item" routerLinkActive="inactive" *ngIf="auth.isLoggedIn()"><a class="nav-link" routerLink="/courses">Courses</a></li>
        <li class="nav-item" routerLinkActive="inactive" *ngIf="auth.isLoggedIn()"><a class="nav-link" routerLink="/courses/enrolled">Enrolled</a></li>
        <li class="nav-item" routerLinkActive="inactive" *ngIf="auth.isLoggedIn()"><a class="nav-link" routerLink="/courses/instructor">Instructor</a></li>
        
        <li class="nav-item" routerLinkActive="inactive" *ngIf="auth.isLoggedIn()"><a class="nav-link" routerLink="/profile">Profile</a></li>

        <li class="nav-item" routerLinkActive="inactive" *ngIf="isAdmin"><a class="nav-link" routerLink="/admin">Users</a></li>
      </ul>
      <button *ngIf="!auth.isLoggedIn()" class="btn btn-primary" type="button" routerLink="/login">Login</button>
      <button *ngIf="auth.isLoggedIn()" class="btn btn-primary" type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
