
<div class="row">
  <div class="col-md-12">
    <h1>Sign in</h1>
    <p class="lead">Not a member? Please <a routerLink="/register">register</a> instead.</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" type="email" class="form-control" formControlName="email" placeholder="Enter email">
        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
          <div *ngIf="f.email.errors.required">Email is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control" formControlName="password" placeholder="Password">
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">Password is required.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in!</button>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>
