<h2>Available Courses</h2>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Course Title</th>
        <th scope="col">Instructor</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <th scope="row">{{course.title}}</th>
        <td>{{course.instructor.name}}</td>
        <td>{{course.description}}</td>
        <td><button class="btn btn-success" type="button" (click)="enroll(course._id)">Enroll</button></td>
<!--         <td><button class="btn btn-success" type="button" (click)="editUser(user._id)">Edit</button>
        <button class="btn btn-danger" type="button" (click)="deleteUser(user._id)">Delete</button></td> -->
      </tr>
    </tbody>
  </table>
</div>
