<div class="row">
  <div class="col-md-12">
    <h1>Your profile</h1>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Full name</label>
      <p class="col-sm-9 form-control-plaintext">{{ details?.name }}</p>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Email</label>
      <p class="col-sm-9 form-control-plaintext">{{ details?.email }}</p>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Role</label>
      <p class="col-sm-9 form-control-plaintext">{{ details?.role }}</p>
    </div>
  </div>
</div>